{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Edit User</h1>

    {{ include('backend/_form.html.twig', {'button_label': 'Update'}) }}

    <div class="back-link">
        <a href="{{ path('backend_index') }}">back to list</a>
    </div>

    {{ include('backend/_delete_form.html.twig') }}
{% endblock %}
