{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Create new User</h1>

    {{ include('backend/_form.html.twig') }}
    <div class="back-link">
        <a href="{{ path('backend_index') }}">back to list</a>
    </div>
{% endblock %}
