@import "~bootstrap/scss/bootstrap";
body{
  background-color: #f8f9fa;
}
.back-link{
  padding: 20px 0;
}
.form-button-wrapper{
  padding-top: 30px;
}
.search-form-wrapper{
  padding-bottom: 40px;
}
.search-tip{
  padding: 10px 0;
}